Adafruit-GPIO>=1.0.3
Adafruit-MCP3008>=1.0.2
Adafruit-PureIO>=1.1.5
apparmor>=2.13.4
appdirs>=1.4.3
application-utility>=1.3.2
btrfsutil>=1.2.0
CacheControl>=0.12.6
ceph-volume>=1.0.0
cephfs>=2.0.0
cephfs-shell>=0.0.1
chardet>=3.0.4
click>=7.1.2
colorama>=0.4.3
contextlib2>=0.6.0.post1
cupshelpers>=1.0
cycler>=0.10.0
distlib>=0.3.0
distro>=1.5.0
docopt>=0.6.2
Flask>=1.1.2
guizero>=1.1.0
html5lib>=1.0.1
idna>=2.9
itsdangerous>=1.1.0
Jinja2>=2.11.2
joblib>=0.14.1
keyutils>=0.6
kiwisolver>=1.2.0
LibAppArmor>=2.13.4
louis>=3.13.0
MarkupSafe>=1.1.1
matplotlib>=3.2.1
msgpack>=1.0.0
npyscreen>=4.10.5
numpy>=1.18.4
ordered-set>=3.1.1
packaging>=20.3
pacman-mirrors>=4.16.4
pandas>=1.0.3
pep517>=0.8.2
Pillow>=6.2.1
progress>=1.5
pwquality>=1.4.2
pycairo>=1.19.1
pycups>=2.0.1
pycurl>=7.43.0.5
PyGObject>=3.36.0
PyMySQL>=0.9.3
pynput>=1.6.8
pyparsing>=2.4.7
PyQt5>=5.14.2
PyQt5-sip>=12.7.2
pysmbc>=1.0.20
python-dateutil>=2.8.1
python-libtorrent>=1.2.6
python-xlib>=0.27
pytoml>=0.1.21
pytz>=2020.1
PyYAML>=5.3.1
qrcode>=6.1
rados>=2.0.0
rbd>=2.0.0
reportlab>=3.5.42
requests>=2.23.0
retrying>=1.3.3
rgw>=2.0.0
scikit-learn>=0.22.2.post1
scipy>=1.4.1
sip>=4.19.22
six>=1.14.0
sklearn>=0.0
spidev>=3.4
SQLAlchemy>=1.3.16
team>=1.0
toml>=0.10.0
udiskie>=2.1.1
urllib3>=1.25.9
webencodings>=0.5.1
Werkzeug>=1.0.1
